.dialogo{
    color: #8c8c8c;
    font-style: italic;
    padding-left: 2em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.ayuda{
    color: #987;
    cursor: pointer;
    text-decoration: underline;
}

#popup {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
 
.content-popup {
    margin: 5% auto 0;
    position: relative;
    padding: 10px;
    width: 500px;
    max-width: 90%;
    min-height: 250px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 2px 5px #666;
}
 
.content-popup h2 {
    font-size: 1.0em;
    font-weight: normal;
    border-bottom: 1px solid #321;
    margin-bottom: 0.6em;
}

.content-popup p {
    font-size: 0.95em;
    line-height: 1.5em;
}
 
.popup-overlay {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}
 
.close {
    position: absolute;
    right: 15px;
}